name: Recipe

on:
    push:
    schedule:
        - cron: '0 7 * * 0/3'
    workflow_dispatch:

jobs:
    mongo-versions:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: update Mongo Versions
              id: update-versions
              run: npm run update:mongo-versions

            - name: git config
              run: |
                  git config user.name "GitHub Actions Recipe Bot"
                  git config user.email "<>"
                  git add ./automation && git commit -m "mongo versions $(date +"%Y-%m-%dT%H:%M:%S%z")" && while ! git push origin main; do git pull --rebase; done || exit 0

    catalog-queries:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: update Catalog Queries
              run: npm run update:catalog-queries

            - name: git config
              run: |
                  git config user.name "GitHub Actions Recipe Bot"
                  git config user.email "<>"
                  git add ./automation && git commit -m "catalog queries $(date +"%Y-%m-%dT%H:%M:%S%z")" && while ! git push origin main; do git pull --rebase; done || exit 0

    workload:
        runs-on: ubuntu-latest

        needs:
            - mongo-versions
            - catalog-queries

        outputs:
            work: ${{ steps.capture.outputs.captured }}

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: Determine Workload
              id: capture
              run: echo "captured=$(npm run --silent update:workload)" >> "$GITHUB_OUTPUT"

            - name: git config
              run: |
                  git config user.name "GitHub Actions Recipe Bot"
                  git config user.email "<>"
                  git add ./automation && git commit -m "workload update $(date +"%Y-%m-%dT%H:%M:%S%z")" && while ! git push origin main; do git pull --rebase; done || exit 0

    collect-versions:
        runs-on: ubuntu-latest

        needs:
            - workload

        strategy:
            matrix:
                version: ${{ fromJSON(needs.workload.outputs.work )}}

        env:
            MONGO_VERSION: ${{ matrix.version }}

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: Start MongoDB
              uses: supercharge/mongodb-github-action@1.7.0
              with:
                  mongodb-version: ${{ matrix.version }}

            - run: npm install

            - run: npm run update:mongo-collect

            - name: git config
              run: |
                  git config user.name "GitHub Actions Recipe Bot"
                  git config user.email "<>"
                  git add ./automation && git commit -m "mongo catalog ${{ matrix.version }} $(date +"%Y-%m-%dT%H:%M:%S%z")" && while ! git push origin main; do git pull --rebase; done || exit 0
