name: Recipe

on:
    push:
    schedule:
        - cron: '0 7 * * 0/3'
    workflow_dispatch:

jobs:
    mongo-versions:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: update Mongo Versions
              id: update-versions
              run: npm run update:mongo-versions

            - name: Upload results
              uses: actions/upload-artifact@v4
              with:
                  name: mongo-versions
                  path: ./automation/collect/
                  retention-days: 1

    catalog-queries:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: update Catalog Queries
              run: npm run update:catalog-queries

            - name: Upload results
              uses: actions/upload-artifact@v4
              with:
                  name: catalog-queries
                  path: ./automation/catalog-queries.json
                  retention-days: 1

    workload:
        runs-on: ubuntu-latest

        needs:
            - mongo-versions
            - catalog-queries

        outputs:
            work: ${{ steps.capture.outputs.captured }}

        steps:
            - uses: actions/checkout@v4

            - name: Download mongo-versions
              uses: actions/download-artifact@v4
              with:
                  name: mongo-versions
                  path: ./automation/collect/

            - name: Download catalog-queries
              uses: actions/download-artifact@v4
              with:
                  name: catalog-queries
                  path: ./automation/

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: install
              run: npm install

            - name: Determine Workload
              id: capture
              run: echo "captured=$(npm run --silent update:workload)" >> "$GITHUB_OUTPUT"

            - name: Upload workload
              uses: actions/upload-artifact@v4
              with:
                  name: workload
                  path: ./automation/collect/**/plan.json
                  retention-days: 1

    collect-versions:
        runs-on: ubuntu-latest

        needs:
            - workload

        strategy:
            matrix:
                version: ${{ fromJSON(needs.workload.outputs.work )}}

        env:
            MONGO_VERSION: ${{ matrix.version }}

        steps:
            - uses: actions/checkout@v4

            - name: Download mongo-versions
              uses: actions/download-artifact@v4
              with:
                  name: mongo-versions
                  path: ./automation/temp/mongo-versions/

            - name: Download catalog-queries
              uses: actions/download-artifact@v4
              with:
                  name: catalog-queries
                  path: ./automation/

            - name: Download workload
              uses: actions/download-artifact@v4
              with:
                  name: workload
                  path: ./automation/temp/workload/

            - name: Setup collect directory
              run: |
                mkdir -p ./automation/collect/
                cp -r ./automation/temp/mongo-versions/* ./automation/collect/
                find ./automation/temp/workload -name "plan.json" -exec cp --parents {} ./automation/collect/ \;

            - name: Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: Start MongoDB
              uses: supercharge/mongodb-github-action@1.7.0
              with:
                  mongodb-version: ${{ matrix.version }}

            - run: npm install

            - run: npm run update:mongo-collect

            - name: Upload results
              uses: actions/upload-artifact@v4
              with:
                  name: results-${{ matrix.version }}
                  path: ./automation/collect/
                  retention-days: 1

    commit-results:
        runs-on: ubuntu-latest

        needs:
            - collect-versions

        steps:
            - uses: actions/checkout@v4

            - name: Download mongo-versions
              uses: actions/download-artifact@v4
              with:
                  name: mongo-versions
                  path: ./automation/collect/

            - name: Download catalog-queries
              uses: actions/download-artifact@v4
              with:
                  name: catalog-queries
                  path: ./automation/

            - name: Download all results
              uses: actions/download-artifact@v4
              with:
                  path: ./automation/collect/
                  pattern: 'results-*'
                  merge-multiple: true

            - name: Commit results
              run: |
                  git config user.name "GitHub Actions Recipe Bot"
                  git config user.email "<>"
                  git add ./automation/collect/
                  git add ./automation/catalog-queries.json
                  git diff --cached --quiet || (git commit -m "Update catalog results $(date +"%Y-%m-%dT%H:%M:%S%z")" && git push origin main)
